.main {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.about {
    padding: 32px;
    max-width: 35em;
}

.back-anchor {
    margin-bottom: 16px; 
    display: flex; 
    align-items: center;
    vertical-align: middle;
}